[submodule "deps/nvdla_hw"]
	path = deps/nvdla_hw
	url = https://github.com/nbosb/hw.git
[submodule "deps/vcml"]
	path = deps/vcml
	url = https://github.com/janweinstock/vcml 
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
